.container--login {
  background: #f9f9f9;
  border-radius: 10px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
  width: 50%;
  padding: 20px;
  margin: 5rem auto;
  
}

.form {
  width: 100%;
}

.form .form-title {
  text-align: center;
  color: #333;
  font-size: 24px;
  margin-bottom: 20px;
}

.form .form-label {
  display: block;
  color: #333;
  margin-bottom: 5px;
}

.form .form-input[type="text"],
.form .form-input[type="email"],
.form .form-input[type="password"],
.form .form-input[type="submit"] {
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #ddd;
  border-radius: 5px;
  box-sizing: border-box;
}

.form .form-input[type="text"]:focus,
.form .form-input[type="email"]:focus,
.form .form-input[type="password"]:focus {
  border-color: #3498db;
  outline: none;
}

.form .form-input[type="checkbox"] {
  margin-right: 5px;
}

.form .form-input[type="submit"] {
  background-color: #ff6b6b;
  border: none;
  color: #fff;
  font-size: 16px;
  cursor: pointer;
  transition: 0.3s;
}

.form .form-input[type="submit"]:hover {
  background: #2980b9;
}

.form .form-link {
  text-align: center;
  margin-top: 10px;
}

.form .form-link a {
  color: #120a8f;
  text-decoration: none;
}

.form .form-link a:hover {
  text-decoration: underline;
}


.container--cadastro{
  margin: 5rem auto;
  width: 50%;
}
@media (max-width: 768px){
  .container--login{
    width: 90%;
  }
}