.container{
    display: flex;
    align-items: center;
    justify-content: space-between;
    
}
.container nav ul li a img{
    margin-top: 10px;
    width: 14em;
    padding-right: 20px;
}

.container nav{
    margin: 10px 50px;
    text-wrap: wrap;
    
}

.container nav ul {
    list-style: none;
    display: flex;
    align-items: flex-end;
  
}

.container nav ul li a{
   
    padding: 5px 8px;
    text-decoration: none;
}


.container a{
    color: #ff6b6b;
    border-radius: 5px;
    font-weight: bolder;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 1rem;
}

.container a:hover{
    transition: 0.5s;  
    font-weight: bolder;
    color: #f52727;
}


.iconUsuario {
    color: white;
    background-color: #ff6b6b;
    font-size: 1.5rem;
    padding: 0.5rem;
    border-radius: 50%;
    width: 2rem;
    height: 2rem;
    margin-right: 2rem;
}

.divLogin{
    display: flex;
    align-items: center;
    margin-right: 2rem;
    
}

.divLogin h2{
    font-size: 1.2rem;
    color: #333;
    margin-left:-1rem;
    font-family: sans-serif;
}